html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, #ECE9E6, #FFFFFF); /* Fondo global */
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
